<div id="<%= dom_id input_resource %>">
  <p>
    <strong>Name:</strong>
    <%= input_resource.resource.name %>
  </p>
  <p>
    <strong>Amount:</strong>
    <%= input_resource.amount %>
  </p>
</div>
