<div id="<%= dom_id output_resource %>">
  <p>
    <strong>Name:</strong>
    <%= output_resource.resource.name %>
  </p>
  <p>
    <strong>Amount:</strong>
    <%= output_resource.amount %>
  </p>
</div>
